body {
  font-family: var(--font-family);
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

